html, body{
    box-sizing: border-box;
    background-color: blanchedalmond;
    height: 100%;
    
    

   .navbar{
       background-image: linear-gradient(-90deg,  #9453a6, #f2cc0f, #8cbf3f  );
       font-family: 'Henny Penny', cursive;
       font-size: 20px;
       color:purple;
       

       .nanlogo{
        width: 70px;
        height: 70px;
        
    }

   }
  .textOnImg{
      position: absolute;
      top: 90%;
      font-size: 50px;
      color: white;
      padding: 5px;
      font-family: 'Henny Penny', cursive;

      
  }

   



  .explanationContainer{
    
    font-family: 'Roboto', sans-serif;
      margin-top: 30px;
      margin-left: 130px;
      font-size: 20px;
      text-align: center;
      justify-content: center;
      padding: 3px;
      border:1px solid black;
      border-radius: 3px;


      @media (max-width:600px) {
          margin-left: 30px;
      }

      .titleCon{
        font-family: 'Pattaya', sans-serif;

    }
  }

.container{
    height: 80vh;




    #sponsers{ 

        margin-left: 200px;
        padding: 30px 0px;
 

        @media (max-width:600px) {
            margin-left: 0;
        }
    
            p{
                font-size: 18px;
            
            
        }
}

    
}
}


   
.sponsersTitle{
    padding: 10px 50px;
    margin-top: 10px;
    color: blueviolet;
    font-weight: bold;
    font-family:'Henny Penny', cursive; 
    text-align: center;
}
.container{

    @media (min-width:600px) and (max-width:1200px) {
      margin-left: 0%;
    }
    // @media (min-width:600px) and (max-width:700px) {
    //     margin-right: 200px;
    // }
    // @media (min-width:600px) and (max-width:700px) {
    //     margin-right: 80px;
    // }
    // @media (min-width:700px) and (max-width:800px) {
    //     margin-right: 300px;
    // }
    // @media (min-width:800px) and (max-width:9000px) {
    //  justify-items: center;
    // }
}

.footerDiv{
    position: absolute;
  margin-top:1500px;
    

}

footer{

    display: block;
    background-color: black ;
    color: white;
    width: 100vw;
    // margin-top: 10px;
    padding: 20px 0;
    text-align: center;
    font-size: 15px;
    word-spacing: 2px;
    text-transform: capitalize;
    // margin-top: auto;
    // margin-top:1000px;
    // // position: absolute;
    position: relative;
    margin-top: 1000px;
    

    @media (min-width:300px) and(max-width:400px) {

        margin-top: 3350px;
    }
    @media (min-width:400px) and(max-width:600px) {

        margin-top: 4100px;
    }

    @media (min-width:600px) and(max-width:770px) {

        margin-top:2000px;
    }
    @media (min-width:770px) and(max-width:900px) {

        margin-top: 1800px;
    }

    @media (min-width:900px) and(max-width:1000px) {

        margin-top: 1800px;
    }
 


}









